<h1>Ask anything!</h1>

<!--<button class="btn btn-primary" (click)="Speech2Text()">Press and speak</button>

<p aria-live="polite">Text: <strong>{{ resultText }}</strong></p>

<p aria-live="polite">Entities:</p>

<ol>
  <li *ngFor="let entity of entities">
    Word: {{ entity.text }}
    , Category: {{ entity.category }}
    , SubCategory: {{ entity.subcategory }}
    , Length: {{ entity.length }}
    , Confidence: {{ entity.confidence }}%
  </li>
</ol>-->

<span aria-live="polite">Question:</span>
<input class="mr-1" type="text" [(ngModel)]="question" (keydown.enter)="getAnswer(question)" />
<button class="btn btn-primary mr-1" (click)="getAnswer(question)">Ask!</button>
<button id="speech" class="btn" (click)="Speech2Text()">
  <i class="fa fa-microphone"></i>
  <div [class.pulse-ring]="listening"></div>
</button>
<p [hidden]="!answer">{{ answer }}</p>

<span [hidden]="prompts.length < 1">Options: </span>
<ul>
  <li *ngFor="let prompt of prompts">
    {{ prompt }}
  </li>
</ul>
<div [hidden]="!thinking" class="lds-facebook"><div></div><div></div><div></div></div>

<!--<button (click)="textToSpeech(answer)">Speak!</button>-->

Voice Output <input #voiceSwitch id="voiceSwitch" type="checkbox" data-toggle="switchbutton" [checked]="voiceOutput" (change)="onVoiceOutput(voiceSwitch.checked)">
