<h1>Speech To Text</h1>

<button class="btn btn-primary" (click)="Speech2Text()">Press and speak</button>

<p aria-live="polite">Text: <strong>{{ resultText }}</strong></p>

<p aria-live="polite">Entities:</p>

<ol>
  <li *ngFor="let entity of entities">
    Word: {{ entity.text }}
    , Category: {{ entity.category }}
    , SubCategory: {{ entity.subcategory }}
    , Length: {{ entity.length }}
    , Confidence: {{ entity.confidence }}%
  </li>
</ol>

<span aria-live="polite">Question:</span>
<input class="mr-1" type="text" [(ngModel)]="question" (keydown.enter)="getAnswer(question)" />
<button class="btn btn-primary" (click)="getAnswer(question)">Ask!</button>
<p [hidden]="!answer">{{ answer }}</p>

<span [hidden]="prompts.length < 1">Options: </span>
<ul>
  <li *ngFor="let prompt of prompts">
    {{ prompt }}
  </li>
</ul>

<button (click)="textToSpeech(answer)">Speak!</button>
<!--<button onclick="speak(answer)">Speak!</button>

<script defer src="https://code.responsivevoice.org/responsivevoice.js?key=4cepEh6y"></script>-->
