<small [hidden]="!generatedQueryText">Generated Query: {{ generatedQueryText }}</small>
<br />

<div class="card">
  <div class="card-body">
    <cdk-virtual-scroll-viewport itemSize="4" class="scrollview" #scrollView>
      <div #messages *cdkVirtualFor="let conversation of allConversations;index as i;">
        <div class="row mx-0 px-0">
          <div class="col-6 ml-4 p-0 text-right">
            <span *ngIf="conversation.question.length > 0" class="badge badge-primary px-3 pt-3 pb-0 w-100 interactionText">
              <p>{{ conversation.question }}</p>
            </span>
          </div>
        </div>
        <div class="row m-0 p-0 my-2" *ngIf="conversation.answer">
          <div class="col-5 mx-0 px-0"></div>
          <div class="col-6 p-0 text-left">
            <div class="badge badge-secondary px-3 pt-3 pb-0 w-100 interactionText">
              <markdown>{{ conversation.answer }}</markdown>
              <div *ngIf="prompts.length > 0 && i == conversationIndex-1" class="container-fluid justify-content-center mt-2">
                <div class="mb-2" *ngFor="let prompt of prompts">
                  <button mat-raised-button
                          class="promptButton"
                          (click)="answerPrompt(prompt)">
                    <span class="interactionText">{{ prompt }}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-content></ng-content>
      </div>
      <mat-progress-bar mode="query" *ngIf="loadingPrediction" class="m-2 py-1"></mat-progress-bar>
    </cdk-virtual-scroll-viewport>

    <div *ngIf="showChart || showTable">
      <hr />
    </div>

    <!-- Angular material table -->
    <div [style.opacity]="(dataSource.loading$ | async) ? '0.4': '1.0'" class="mat-table__wrapper mb-4" [hidden]="!showTable">
      <button mat-fab color="primary" class="deleteTableButton" matTooltip="Delete table" (click)="deleteTable()">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-table class="mat-elevation-z8" matSort #sortData="matSort" [dataSource]="dataSource">

        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.brand}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="categoryName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.categorY_NAME}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.producT_NAME}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="periodStart">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Period Start</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.perioD_START | date}} </mat-cell>
        </ng-container>

        <ng-container *ngIf="measurable == 'M_SALES_VALUE' || measurable == ''" matColumnDef="sales">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sales</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.m_SALES_VALUE | number:'.2'}}</mat-cell>
        </ng-container>

        <ng-container *ngIf="measurable == 'M_SALES_VOLUME'" matColumnDef="sales">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sales</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.m_SALES_VOLUME }}</mat-cell>
        </ng-container>

        <ng-container *ngIf="measurable == 'M_SALES_ITEMS'" matColumnDef="sales">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Sales</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.m_SALES_ITEMS }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
      <div class="row spinner justify-content-center">
        <mat-spinner [diameter]="35" *ngIf="dataSource.loading$ | async"></mat-spinner>
      </div>
      <!-- start: BOTTOM -->
      <div class="mat-table__bottom">
        <!-- MATERIAL PAGINATOR | Binded to datasources -->
        <!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
        <mat-paginator [length]="dataSource.dataLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>

    <!-- Chart Display -->
    <button mat-fab color="primary" class="deleteChartButton" matTooltip="Delete chart" (click)="deleteChart()" [hidden]="!showChart">
      <mat-icon>delete</mat-icon>
    </button>
    <div [hidden]="!showChart" id="chartdiv"></div>
  </div>
</div>
