<h1>Ask anything!</h1>
<br />

<div class="flexContainer">

  <input type="text"
         class="inputField"
         placeholder="Place your query here"
         required
         (keydown.enter)="getAnswer()"
         [formControl]="questionFC">
  <button class="btn btn-primary mr-1" (click)="getAnswer()">Ask!</button>

  <span id="speech" class="btn" (click)="Speech2Text()">
    <i class="fa fa-microphone"></i>
    <div [class.pulse-ring]="listening"></div>
  </span>
</div>

<!-- Input Validation -->
<div *ngIf="questionFC.invalid && (questionFC.dirty || questionFC.touched)">

  <div *ngIf="questionFC.errors.required" class="text-danger">
    A question is required.
  </div>
</div>

<br />
<mat-slide-toggle color="primary" (change)="toggleVoice($event)">Voice Output</mat-slide-toggle>
<br />

<app-visualization (promptAnswered)="answerPrompt($event)" [answer]="responseAnswer" [question]="submittedQuestion">
  <div *ngIf="thinking" class="lds-facebook"><div></div><div></div><div></div></div>
</app-visualization>

